*{
    box-sizing: border-box;
}

body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quiz-container{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #a89a9a ;
    width: 400px;
    max-width: 100%;
}

.quiz-header{
    padding: 4rem;
}

h2{
    text-align: center;
    margin: 0;
}

ul{
  list-style-type: none;  
  padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color:#00b894 ;
    display: block;
    font-family: inherit;
    cursor: pointer;
    font-size: 1.1rem;
    border: none;
    color: #ffffff;
    width: 100%;
    padding: 1.3rem;
}

button:hover{
    background-color:#55efc4 ;
}